<div class="header standard-width">
    <h3 class="text-muted">RHQ Metrics</h3>
</div>

<div class="jumbotron standard-width">
<h3>RHQ Metrics Charting Example</h3>
</div>


<tabset>
    <tab>
        <tab-heading>
            <i class="glyphicon glyphicon-save"></i> Populate Data
        </tab-heading>
        <div class="panel panel-default" style="width:880px" ng-controller="InsertMetricsController">
            <div class="panel-heading">
                <h3 class="panel-title">Insert Raw Metrics</h3>
            </div>
            <div class="panel-body">
                <div class="well">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="insertId" class="col-sm-2 control-label">ID</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="insertId" ng-model="insertData.id"
                                       placeholder="Enter Id  Here...">
                                <span class="help-block">Example: 100  </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="jsonText" class="col-sm-2 control-label">Raw Json</label>

                            <div class="col-sm-10">
                                <!--<input type="text" id="jsonText" ng-model="insertData.jsonPayload"-->
                                <!--class="form-control" placeholder="Enter Raw Json Here... "/>-->
                                <textarea id="jsonText" ng-model="insertData.jsonPayload" rows="10" class="form-control"
                                          placeholder="Enter Raw Json Here... "></textarea>
                                <span class="help-block">Example:  [{'value': 33, 'timestamp':1400178146614}] </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" ng-click="insertData()" class="btn btn-default">Insert Data
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </tab>


    <tab>
    <tab-heading>
            <i class="glyphicon glyphicon-dashboard"></i> Charting
        </tab-heading>

        <div class="panel panel-default" style="width:880px" ng-controller="ChartController">
            <div class="panel-heading">
                <h3 class="panel-title">Raw Metrics Graphing</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <small style="margin-left: 15px" class="graphDateTimeRangeLabel"></small>

                    <div class="row">
                        <div class="col-md-1">Start</div>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <a class="dropdown-toggle my-toggle-select" id="dLabelStart" role="button"
                                   data-toggle="dropdown"
                                   data-target="#" href="">
                                    <div class="input-append"><input type="text" class="input-large"
                                                                     ng-model="restParams.startTimeStamp"><span
                                            class="add-on"><i
                                            class="icon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="restParams.startTimeStamp"
                                                    datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-1">End</div>
                        <div class="col-md-4">

                            <div class="dropdown">
                                <a class="dropdown-toggle my-toggle-select" id="dLabelEnd" role="button"
                                   data-toggle="dropdown"
                                   data-target="#" href="">
                                    <div class="input-append"><input type="text" class="input-large"
                                                                     ng-model="restParams.endTimeStamp"><span
                                            class="add-on"><i
                                            class="icon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="restParams.endTimeStamp"
                                                    datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button type="button" style="margin-left: 40px" class="btn btn-default btn-xs"
                                    ng-click="refreshChartData()">Refresh
                            </button>
                        </div>
                    </div>


                    <form role="form">
                        <div class="form-group">
                            <label for="searchIdText">ID</label>
                            <input type="text" ng-model="restParams.searchId" class="form-control" id="searchIdText"
                                   placeholder="Enter ID">
                        </div>
                    </form>
                </div>

                <div style="height:270px" metrics-stacked-bar-chart
                     rhq-data="{{chartData}}"
                     rhq-yaxis-units="GB"
                     rhq-chart-title="{{title.name}}"
                     rhq-chart-height="250"
                     rhq-chart-hover-date-format="%m/%d/%y"
                     rhq-chart-hover-time-format="%I:%M:%S %p"
                     rhq-time-label="Time"
                     rhq-date-label="Date"
                     rhq-buttonbar-datetime-format="MM/DD/YYYY h:mm a"
                     rhq-single-value-label="Raw Value"
                     rhq-no-data-label="No Data"
                     rhq-aggregate-label="Aggregate"
                     rhq-start-label="Start"
                     rhq-end-label="End"
                     rhq-duration-label="Duration"
                     rhq-min-label="Min"
                     rhq-max-label="Max"
                     rhq-avg-label="Avg">
                </div>
            </div>
        </div>
    </tab>

</tabset>








